{% extends "base.html" %}
{% set active_page = "index" %}
{% block body %}
    <h2>Introduction</h2>
    <p>
        TIFUN (Titanium Fundamentals) is a research project being conducted at the
        <a href="https://www.materials.manchester.ac.uk/">Department of Materials</a> at the
        <a href="https://www.manchester.ac.uk/">University of Manchester</a>.
        TIFUN is supported by a consortium of 6 companies, from different stages of the Ti forging supply chain:
        <a href="https://www.airbus.com">Airbus</a>, <a href="https://www.rolls-royce.com/">Rolls-Royce</a>,
        <a href="https://www.otto-fuchs.com">Otto-Fuchs</a>, <a href="https://www.aubertduval.com/">Aubert & Duval</a>,
        <a href="https://www.safran-group.com/">Safran</a> and <a href="https://www.timet.com/">Timet</a>.
        TIFUN part funds 3 PhD students, who work on different aspects of the project alongside PDRAs
        funded by EPSRC via the <a href="https://lightform.org.uk/">LightForm grant</a>.
    </p>

    <p>
        The aims of the TIFUN project are to improve our fundamental understanding of microstructure evolution during
        hot (α+β) forming of titanium alloys and to develop new computational models for its prediction. The research in
        TIFUN will also produce new, open, high-quality data sets describing microstructural evolution in controlled
        conditions, and new, open source software to analyse microstructural data and models.<br>
        Software will be developed following best software engineering practice, so that it can be
        extended and embedded/interfaced with modelling tools used in industry.
    </p>

    <h3>The data explorer</h3>
    <p>
        This site is designed to enable exploration of the samples and datasets produced by the TIFUN project. Firstly
        these data support our publications, but also by making these data publicly available and easily searchable,
        we hope that others can build on the work of the TIFUN project in the future.
    </p>
    <p>
        Click on the <a href="{{ url_for('samples') }}">samples</a> or
        <a href="{{ url_for('experiments') }}">experiments</a> links in the top menu bar to explore the data.
    </p>
    <p>
        This site is powered by the <a href="https://github.com/LightForm-group/lightform_data_explorer">
        Lightform Data Explorer</a>. The source for the site can be found on Github
        <a href="https://github.com/LightForm-group/tifun-data-explorer">here</a>.
    </p>
{% endblock %}